h1 {
    color: cadetblue;
    font-family: "Ink Free";
}

.smallSize {
    font-size: small;
}

label {
    color: blue;
    font-family: "Ink Free";
}

body {
    background: antiquewhite url('../images/dog_.png') no-repeat fixed center;
}

#mainContainer {
    margin-top: 40px;
    margin-left: 20px;
}

.containerColor {
    background: antiquewhite;
}

.underline {
    text-decoration: underline;
}

.border {
    border: solid darkcyan;
    display: inline;
    border-radius: 5px;
    box-shadow: cadetblue 5px 6px;
    padding: 5px 5px 5px 10px;
}

.header-text-font {
    font-size: small;
    right: 30px;
    top: 30px;
    position: fixed;
}

.text-small {
    font-size: small;
}

.font-for-details {
    font-family: "Ink Free";
}

.container{
    display: block;
    padding: 10px 10px 10px 10px;
    margin-bottom: 20px;
}

header {
    position: fixed;
    background-color: gray;
    width: 100%;
    top: 0;
}

::placeholder {
    font-style: italic;
    color: gray;
}

.paw-icon {
    position: absolute;
    top: 40px;
    right: 10px;
}

.submit-button :hover {
    font-family: "Ink Free";
    cursor:pointer;
    background: burlywood;
    transition: 0.3s;
}

.buttons-class{
    background-color: lightpink;
    border: 2px solid plum; /* Plum border */
    color: white; /* White text */
    padding:0px 20px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 20%; /* Set a width if needed */
    display: inline-grid
}

.buttons-class button:hover {
    background-color: antiquewhite;
}