h1 {
    color: cadetblue;
    font-family: "Ink Free";
}

.smallSize {
    font-size: small;
}

label {
    color: blue;
    font-family: "Ink Free";
}

body {
    background: antiquewhite url('../images/dog_.png') no-repeat fixed right;
}

#mainContainer {
    margin-top: 40px;
    margin-left: 20px;
}

.containerColor {
    background: antiquewhite;
}

.underline {
    text-decoration: underline;
}

.border {
    border: solid darkcyan;
    display: inline;
    border-radius: 5px;
    box-shadow: cadetblue 5px 6px;
    padding: 5px 5px 5px 10px;
}

.header-text-font {
    font-size: small;
    text-align: right;
    margin-right: 10px;
    top: 10px;
    position: relative;
}

.font-for-details {
    font-family: "Ink Free";
}

header {
    position: fixed;
    background-color: gray;
    width: 100%;
    top: 0;
}

::placeholder {
    font-style: italic;
    color: gray;
}

.paw-icon {
    position: absolute;
    top: 40px;
    right: 10px;
}

